<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://cdn.globalcare.vn/private/images/gc/logo.png">
  <title>Danh sách giấy chứng nhận bảo hiểm</title>
</head>
<style>
  body {
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    color: #000;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* overflow: hidden; */
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    width: 50%;
  }

  .custom-hr {
    border: none;
    height: 0.5px;
    /* very thin */
    width: 97%;
    /* full width */
    background-color: #ccc;
    /* light gray */
    margin: 1em auto;
  }

  @media (max-width: 768px) {
    .box {
      width: 100%;
    }

    .none {
      display: none;
    }

    .box2 {
      font-size: 14px !important;
    }
  }

  @media (min-width: 768px) {
    .none2 {
      display: none;
    }
  }
</style>

<body>
  <div class="container" style="display: flex; align-items: center; justify-content: space-between; padding: 0% 2%;">
    <div class="box2" style="display: flex; align-items: center;">
      <img style="width: 90px; margin-right: 20px;" src="https://cdn.globalcare.vn/private/images/gc/logo.png">
      <h1 class="box2" style="font-size: 24px; color: #19447E;">CÔNG TY CP TƯ VẤN GLOBAL CARE</h1>
    </div>
    <div class="none">
      <div style="display: flex; align-items: center;">
        <div style="font-size: 12px; color: #1A437E; display: flex; align-items: center;">
          <img style="width: 15px; margin-right: 5px;"
            src="https://cdn.globalcare.vn/private/images/pvi/logo/mobile.svg">
          <b>CSKH:</b>
        </div>
        <div style="font-size: 20px; color: red;">
          <b> 1900 29 29 87</b>
        </div>
      </div>
    </div>
  </div>
  <hr class="custom-hr" />
  <div style="padding: 0% 2%;">
    <h2 style="font-size: 24px; border-left: 8px solid #E36D2E; padding: 0px 10px;">THÔNG TIN ĐƠN HÀNG</h2>
    <div>
      <ul>
        <li>
          <p style="font-size: 20px;">
            <span>Chủ hợp đồng: <b>{{BUYER_NAME}}</b></span>
          </p>
        </li>
      </ul>
      <ul style="list-style-type: none;">
        <li style="text-decoration: none;">
          <p>
            <span><i>Chương trình bảo hiểm:</i> <b><i>{{PACKAGE_NAME}}</i></b></span>
          </p>
        </li>
        <li style="text-decoration: none;">
          <p style="font-size: 16px;">
            <span><i>Ngày bắt đầu:</i> <b><i style="color: #009A27;">{{VALID_FROM}}</i></b></span>
          </p>
        </li>
        <li style="text-decoration: none;">
          <p style="font-size: 16px;">
            <span><i>Ngày hết hạn:</i> <b><i style="color: #FF0000;">{{VALID_UNTIL}}</i></b></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div style="padding: 0% 2%;  margin-top: 30px;">
    <div style="font-size: 24px; border-left: 8px solid #E36D2E; padding: 0px 10px;"><b>DANH SÁCH GIẤY CHỨNG NHẬN LIÊN
        QUAN</b>
    </div>
    <div class="container">
      {{CERTIFICATES}}
    </div>
  </div>
  <div style="height: 150px;"></div>
  <div class="container">
    <!-- Cho dien thoại -->
    <div class="none2">
      <hr class="custom-hr" />
      <div style="padding: 10px 10%; color: #19447E;">
        <div style="display: flex; align-items: center;">
          <img width="100px" height="60px" style="margin-right: 20px;"
            src="https://cdn.globalcare.vn/private/images/gc/logo.png" alt="Image 1">
          <p style="line-height: 2;">
            <b>CÔNG TY CP TƯ VẤN GLOBAL CARE</b>
          </p>
        </div>
        <p style=" display: flex; align-items: flex-start;">
          <img style="width: 15px; margin-right: 10px;"
            src="https://cdn.globalcare.vn/private/images/pvi/logo/location.svg">
          Lầu 1B, 121 Quốc Hương, Phường Thảo Điền,
          TP Thủ Đức, TP Hồ Chí Minh, Việt Nam
        </p>
        <p style="display: flex;">
          <img style="width: 15px; margin-right: 10px;"
            src="https://cdn.globalcare.vn/private/images/pvi/logo/message.svg">
          <a href="mailto:cskh@globalcare.vn" target="_blank">cskh@globalcare.vn</a>
        </p>
        <p style="display: flex; color: red;">
          <img style="width: 15px; margin-right: 10px;"
            src="https://cdn.globalcare.vn/private/images/pvi/logo/mobile.svg">
          <a style="color: red; text-decoration: none;" href="tel:1900292987" target="_blank"> 1900 29 29 87
          </a>
        </p>
        <div style="color: #1A437E; margin-top: 30px;">
          <div style="display: flex; align-items: center;">
            <a href="https://www.facebook.com/GlobalCare.vn" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/fb.svg" alt="facebook">
            </a>
            <a href="https://www.linkedin.com/company/global-care-company/" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/in.svg" alt="in">
            </a>
            <a href="https://zalo.me/1747508283619492630" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/zalo.svg" alt="zalo">
            </a>
            <a href="https://www.youtube.com/channel/UCVCpGwSPErtw3OyLQYwwulw" target="_blank"
              rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/ytb.svg" alt="youtube">
            </a>
          </div>
          <div>
            <p>
              CopyRight © 2025 Bản quyền thuộc về
            </p>
            <p>
              <b>CÔNG TY CP TƯ VẤN GLOBAL CARE</b>
            </p>
          </div>
        </div>
      </div>
      <!-- <img style="width: 100%;" src="https://cdn.globalcare.vn/private/images/gc/fmb.png" alt="Image 1"> -->
    </div>

    <!-- Cho máy tính -->
    <div class="none" style="width: 100%; position: fixed; bottom: 0; background: #fff; z-index: 1;">
      <hr class="custom-hr" />
      <div style="display: flex; align-items: center; justify-content: space-around; padding: 10px 3%; width: 100%;">
        <div>
          <img style="width: 200px; margin-right: 20px;" src="https://cdn.globalcare.vn/private/images/gc/logo.png"
            alt="Image 1">
        </div>
        <div style="width: 390px; color: #1A437E;">
          <p>
            <b>CÔNG TY CP TƯ VẤN GLOBAL CARE</b>
          </p>
          <p>
          <div style=" display: flex; align-items: flex-start;">
            <img style="width: 15px; margin-right: 10px;"
              src="https://cdn.globalcare.vn/private/images/pvi/logo/location.svg">
            Lầu 1B, 121 Quốc Hương, Phường Thảo Điền,
            TP Thủ Đức, TP Hồ Chí Minh, Việt Nam
          </div>
          </p>
          <div style="display: flex; justify-content: space-between;">
            <div style="color: red; display: flex;">
              <img style="width: 15px; margin-right: 10px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/message.svg">
              <a href="mailto:cskh@globalcare.vn" target="_blank">cskh@globalcare.vn</a>
            </div>
            <div style="color: red; display: flex;">
              <img style="width: 15px; margin-right: 10px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/mobile.svg">
              <a style="color: red; text-decoration: none;" href="tel:1900292987" target="_blank"> 1900 29 29 87
              </a>
            </div>
          </div>
        </div>
        <div style="color: #1A437E;">
          <div style="display: flex; align-items: center;">
            <a href="https://www.facebook.com/GlobalCare.vn" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/fb.svg" alt="facebook">
            </a>
            <a href="https://www.linkedin.com/company/global-care-company/" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/in.svg" alt="in">
            </a>
            <a href="https://zalo.me/1747508283619492630" target="_blank" rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/zalo.svg" alt="zalo">
            </a>
            <a href="https://www.youtube.com/channel/UCVCpGwSPErtw3OyLQYwwulw" target="_blank"
              rel="noopener noreferrer">
              <img style="width: 25px; margin-right: 20px;"
                src="https://cdn.globalcare.vn/private/images/pvi/logo/ytb.svg" alt="youtube">
            </a>
          </div>
          <div>
            <p>
              CopyRight © 2025 Bản quyền thuộc về
            </p>
            <p>
              <b>CÔNG TY CP TƯ VẤN GLOBAL CARE</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>